#title {
    
}

#addQuoteFormContainer div {
    margin-bottom: 10px;
}
#newQuoteText, #newQuoteCategory {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

 #newQuote{
    padding: 8px 15px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 30px;
}
#newQuote:hover{
    background-color: rgb(5, 73, 19);
  
}

#quoteDisplay {
    color: white;
    text-align: center;
    margin: 20px 0;
    width: 500px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #0e0101;
    cursor: pointer;
}
#quoteDisplay:hover {
    background-color: #112b12;
}
#addQuoteButton ,#exportButton  {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #033d05;
    color: white;
    border: none;
    border-radius: 30px;
}
#addQuoteButton:hover,#exportButton:hover {
    background-color: #0e0101;
    
}